div.aboutblock{
    display: flex;
    background-color: white;
    text-align: left;
    font-size: 12px;
    padding: 10px;
    border-radius: 15px;
    font-family: "JetBrains Mono";
    box-shadow: -2px -2px 31px -4px rgba(0,0,0,0.75);
    -webkit-box-shadow: -2px -2px 31px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px -2px 31px -4px rgba(0,0,0,0.75);
}

.aboutblock:hover {
    transform: scale(1.03);
    transition: all 300ms;
}

p.infoitems{
    font-size: 12px;
}

div.shadowt{
   background-color: #626262;
    padding-top: 3px;
    padding-bottom: 3px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.meter {
    height: 12px;
    position: relative;
    background: #CD0D5D;
    overflow: hidden;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.meter span {
    display: block;
    height: 100%;

}

.progress {
    background-color: #51CB20;
    animation: progressBar 3s ease-in-out;
    animation-fill-mode:both;
}

@keyframes progressBar {
    0% { width: 0; }
    100% { width: 100%; }
}