
@import url('https://fonts.googleapis.com/css?family=JetBrains+Mono&display=swap');

.App {
  text-align: center;
  background-color: #C9C8D1;
}

.App-header {
  background-color: #C9C8D1;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'JetBrains Mono', sans-serif;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-footer {
  text-align: left;
  margin-bottom: 30px;
  padding-bottom: 40px;
  margin-right: auto;
  background: white;
}

.image:hover{
  opacity: 0.6;
}


::-webkit-scrollbar {
  display: none;
}
